$color-background: #ffffff;
$color-primary-0: #5F97A2;
$color-primary-1: #9B9B9B;
$color-primary-2: #AAB8BB;
$color-primary-3: #2E8898;
$color-primary-4: #037C93;

body {
  background-color: #ffffff;
}
