.background{
  display: block;
  height: 100%;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.form-signin-heading {
  text-align: center;
  padding-bottom: 15px;
  font-size: 65px;
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-primary-4;
  font-weight: 800;
}

.sign-in-btn {
  background-color: $color-primary-3;
  color: $color-background;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;

  &:hover {
    background-color: $color-primary-0;
    color: $color-background;
  };
}

.logo-container {
  width: 100%;
  padding-top: 2em;
}

.logo {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  height: 40px;
}

.form-signin {
  padding-top: 30px;

  width: 100%;
  max-width: 450px;
  margin: auto;
}

.test-user-credentials {
  margin-top: 1.5em;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.4em;
}
